@model TripPage3ViewModel

@{
    ViewBag.Title = "Add Trip - Page 3";
    ViewBag.SubHeader = "Add Things to Do";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="ThingsToDoString">Things to Do</label>
        <textarea asp-for="ThingsToDoString" class="form-control"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-dark">Submit</button>
        <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>